.gamecard {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 3rem;
    border-radius: 20px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
}

.gamecard__name {
    font-size: 3rem;
    line-height: 1.2;
    flex-basis: 100%;
    margin-bottom: 1.5rem;
    color:#1C4086;
}

.gamecard__heading {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 4rem;
    /* color: #1C4086; */
}

.gamecard__ratings {
    flex: 2;
}

.gamecard__ratings ul {
    list-style-type: none;   
    display: flex;
    flex-direction: column;
   
}

.gamecard__ratings li {
    display: flex;
    flex: 1 1 33.33%;
    /* flex-direction: column; */
    align-items: center;
    padding: 0rem 1rem;
}


.gamecard__ratings li:not(:last-child) {
    border-bottom: 3px dotted #000
}

.gamecard__ratings li:nth-child(5) {
    order: 1;
    flex: 1 1 100%;
}

.gamecard__ratingname {
    text-transform: uppercase;
    font-weight: 800;
    flex: 1;
    
}

.gamecard__rating {
    font-weight: 800;
    font-size: 2.5rem;
}

.gamecard__score {
    margin-left: 2rem;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: end;
}

.gamecard__score .gamecard__heading {
    flex: 1 1 100%;
}

.gamecard__teamdata {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.4rem;
    font-weight: 400;
    justify-content: flex-end;
    line-height: 1.2
}


.gamecard__teamscore {
    font-size: 3rem;
    font-weight: 800;
}

.gamecard__overallrating {
    flex-basis: 100%;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 800;
}

.gamecard__overallrating span:not(:last-child) {
    margin-right: 1rem
}